$default-main-color: #687f91;
$main-colors: #00b3e7, #0cc7d3, #00cfb6, #ff6442, #8781d3, /* #fcf05f, */ #687f91;

$highlight-color: #fefcdf;
$thin-weight: 100;
$light-weight: 300;
$regular-weight: 400;

@font-face {
  font-family: 'Proxima Nova';
  src: url(https://typographer.io/1/fonts/mss:proxima-nova::thin@4.0.0/woff2?token=01b85d3132);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(https://typographer.io/1/fonts/mss:proxima-nova::light@4.0.0/woff2?token=de4a21cd7c);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(https://typographer.io/1/fonts/mss:proxima-nova::regular@4.0.0/woff2?token=fe7f0fc5c6);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Sera';
  src: url(https://typographer.io/1/fonts/mss:proxima-sera::regular@1.0.0/woff2?token=d44aeabb78);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Sera';
  src: url(https://typographer.io/1/fonts/mss:proxima-sera::regular-italic@1.0.0/woff2?token=3d4c587101);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

em, strong {
  font-style: normal;
  font-weight: normal;
}

a {
  display: block;
}

a[href^=tel] {
  color: #000;
  text-decoration: none;
}

::selection {
  background-color: $default-main-color;
  color: #fff;
}

::-moz-selection {
  background-color: $default-main-color;
  color: #fff;
}

html {
  font-size: 16pt;
  font-family: 'Proxima Sera', times, serif;
  font-weight: $regular-weight;
  color: #000;
}

#page {
  width: 760pt;
  margin: 0 auto;
}

article {
  padding: 0 30pt;
  margin-left: 100pt;
  border-right: 100pt solid $default-main-color;
}

header, footer, h1, aside {
  font-family: 'Proxima Nova', 'Helvetica Neue', helvetica, sans-serif;
}

aside {
  position: absolute;
  top: 0;
  width: 100pt;

  &.left {
    left: -140pt;
    text-align: right;
  }

  &.right {
    right: -140pt;
    color: #fff;
    font-size: 14pt;
  }

  -moz-font-feature-settings: 'lnum' 1, 'tnum' 1;
  -ms-font-feature-settings: 'lnum' 1, 'tnum' 1;
  -o-font-feature-settings: 'lnum' 1, 'tnum' 1;
  -webkit-font-feature-settings: 'lnum' 1, 'tnum' 1;
  font-feature-settings: 'lnum' 1, 'tnum' 1;

  font-weight: $light-weight;
  white-space: nowrap;

  a, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

header {
  padding: 10pt 0 40pt 0;
  position: relative;

  h1 {
    position: relative;
    font-size: 80pt;
    font-weight: $thin-weight;

    em {
      position: absolute;
      width: 240pt;
      left: -280pt;
      top: 0;
      text-align: right;
      font-weight: $thin-weight;
    }
  }

  @media screen and (max-width: 1150px) {
    h1 {
      em {
        position: static;
        display: block;
        text-align: left;
      }
    }
  }

  #contact {
    position: absolute;
    width: 180pt;
    right: 0;
    top: 40pt;
    font-weight: $light-weight;
    font-size: 14pt;
    line-height: 16pt;
    white-space: nowrap;

    p {
      margin-bottom: 6pt;
    }
  }

  aside {
    top: 40pt;
  }
}

section:target {
  background: $highlight-color;
}

section > h1 {
  font-size: 26pt;
  font-weight: $light-weight;
  margin: 30pt 0 8pt 0;

  a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
  }
}

section > p {
  line-height: 1.6rem;
  margin-bottom: 14pt;
}

ul li {
  position: relative;

  & > p:nth-child(1) {
    margin-bottom: 6pt;
    line-height: 22pt;
  }

  & > p:nth-child(2) {
    margin-bottom: 20pt;
    line-height: 20pt;
  }

  strong {
    font-style: italic;
  }

  em {
    font-style: italic;
    white-space: nowrap;
  }
}

footer {
  padding: 50pt 0 20pt 0;
  text-align: center;
  font-weight: $light-weight;

  p:first-child {
    margin-bottom: 15pt;
  }

  em {
    font-size: 3rem;
    font-family: 'Zapf Dingbats', arial, sans-serif;
  }
}

@for $i from 1 through length($main-colors) {
  .theme-#{$i} {
    ::selection {
      background-color: nth($main-colors, $i);
    }

    ::-moz-selection {
      background-color: nth($main-colors, $i);
    }

    article {
      border-right-color: nth($main-colors, $i);
    }
  }
}
