!!! 5
%html{ lang: 'en', prefix: 'og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'description', content: 'The academic profile of Ivan Ukhov at Linköping University: education, research interests, publications, and teaching assistance.' }
    %meta{ property: 'og:url', content: 'http://www.ida.liu.se/~ivauk83/' }
    %meta{ property: 'og:title', content: 'Ivan Ukhov' }
    %meta{ property: 'og:type', content: 'profile' }
    %meta{ property: 'og:description', content: 'The academic profile of Ivan Ukhov at Linköping University: education, research interests, publications, and teaching assistance.' }
    %meta{ property: 'profile:first_name', content: 'Ivan' }
    %meta{ property: 'profile:last_name', content: 'Ukhov' }
    %meta{ property: 'profile:gender', content: 'male' }
    %title Ivan Ukhov
    %link{ href: 'favicon.png', rel: 'icon', type: 'image/png' }
    %script{ type: 'text/javascript', src:'//use.typekit.net/bas4cfe.js' }
    %script{ type: 'text/javascript' }= 'try{Typekit.load();}catch(e){}'
    %link{ href: 'assets/application.css', media: 'screen', rel: 'stylesheet' }
  %body
    #page
      %article
        %header
          %h1 <em>Ivan</em> Ukhov

          #contact
            %p#email-line ivan.ukhov at liu.se
            %p +46 (0) 13 281470
            %p Office 329:228, Building B,<br/>Campus Valla, Linköping

          %aside.right
            %a#email-link{ href: '#' } contact

        %section
          %h1 Education
          %ul
            %li
              :markdown
                **Doctor of Philosophy in Computer Systems**

                Embedded Systems Laboratory, Department of Computer and Information Science, Linköping University, Sweden

              %aside.left.inactive
                %p 2016
                %p not yet

            %li
              :markdown
                **Master of Science in Computer Engineering** with _honors_

                Department of Information and Control Systems, Saint Petersburg State Polytechnic University, Russia

              %aside.left 2010

            %li
              :markdown
                **Specialist in Business Management** with _honors_

                International Graduate School of Management, Saint Petersburg State Polytechnic University, Russia

            %li
              :markdown
                **Bachelor of Science in Computer Engineering** with _honors_

                Department of Information and Control Systems, Saint Petersburg State Polytechnic University, Russia

              %aside.left 2008

        %section
          %h1 Research Interests
          %p Uncertainty quantification for electronic system design

        %section
          %h1 Publications
          %ul
            %li
              :markdown
                **Probabilistic Analysis of Power and Temperature Under Process Variation for Electronic System Design** with _Petru Eles_ and _Zebo Peng_

                IEEE Transactions on Computer-aided Design of Integrated Circuits and Systems

              %aside.left 2014
              %aside.right
                %a{ href: 'publications/PAPT-TCAD-2014.pdf' } read
                %a{ href: 'publications/PAPT-TCAD-2014.bib' } cite

            %li
              :markdown
                **Statistical Analysis of Process Variation Based on Indirect Measurements for Electronic System Design** with _Mattias Villani_, _Petru Eles_, and _Zebo Peng_

                Asia and South Pacific Design Automation Conference

              %aside.right
                %a{ href: 'publications/SAPV-ASP-DAC-2014.pdf' } read
                %a{ href: 'publications/SAPV-ASP-DAC-2014.bib' } cite

            %li
              :markdown
                **Steady-state Dynamic Temperature Analysis and Reliability Optimization for Embedded Multiprocessor Systems** with _Min Bao_, _Petru Eles_, and _Zebo Peng_

                Design Automation Conference

              %aside.left 2012
              %aside.right
                %a{ href: 'publications/SSDTA-DAC-2012.pdf' } read
                %a{ href: 'publications/SSDTA-DAC-2012.bib' } cite

        %section
          %h1 Teaching Assistance

          %ul
            %li
              :markdown
                **Design Patterns**

                TDDB84, autumn 2013

            %li
              :markdown
                **Distributed Systems**

                TDDD25, spring 2012&ndash;2014

            %li
              :markdown
                **Embedded Systems Design**

                TDDI08, spring 2013

            %li
              :markdown
                **System Design and Methodologies**

                TDTS07, spring 2012

        %footer
          :markdown
            Love, Ivan

            _&#10086;_

    %script{ src:'assets/application.js', type: 'text/javascript' }
