!!! 5
%html{ lang: 'en', prefix: 'og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'description', content: 'Academic profile of Ivan Ukhov at Linköping University: research interests, publications, talks, education, and teaching assistance.' }
    %meta{ property: 'og:title', content: 'Ivan Ukhov | Research' }
    %meta{ property: 'og:type', content: 'profile' }
    %meta{ property: 'og:url', content: 'https://research.ivanukhov.com' }
    %meta{ property: 'og:image', content: 'https://research.ivanukhov.com/favicon.png' }
    %meta{ property: 'og:description', content: 'Academic profile of Ivan Ukhov at Linköping University: research interests, publications, talks, education, and teaching assistance.' }
    %meta{ property: 'profile:first_name', content: 'Ivan' }
    %meta{ property: 'profile:last_name', content: 'Ukhov' }
    %meta{ property: 'profile:gender', content: 'male' }
    %title Ivan Ukhov | Research
    %link{ href: "application.css?#{stamp}", rel: 'stylesheet' }
    %script{ src: '//use.typekit.net/bas4cfe.js', async: true, onload: 'try{Typekit.load();}catch(e){}' }
    %script
      :plain
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-47932672-3', { 'siteSpeedSampleRate': 100 });
        ga('send', 'pageview');
    %link{ href: 'favicon.png', rel: 'icon', type: 'image/png' }
  %body
    #page
      %article
        %header
          %h1 <em>Ivan</em> Ukhov

          #contact
            %p= encode('ivan.ukhov@liu.se')
            %p +46 (0) 13 281470
            %p Office 329:228, Building B,<br/>Campus Valla, Linköping

          %aside.right <a href="#{encode('mailto:ivan.ukhov@liu.se')}">contact</a>

        %section{ id: 'research-interests' }
          %h1 Research Interests
          %p Uncertainty quantification for electronic-system design

        %section{ id: 'publications' }
          %h1 Publications
          %ul
            %li{ id: 'TRAO-VLSI-2015' }
              :markdown
                **Temperature-Centric Reliability Analysis and Optimization of Electronic Systems under Process Variation** with _Petru Eles_ and _Zebo Peng_

                IEEE Transactions on Very Large Scale Integration Systems

              %aside.left 2015
              %aside.right
                %a{ href: 'publications/TRAO-VLSI-2015.pdf' } read
                %a{ href: 'publications/TRAO-VLSI-2015.bib' } cite

            %li{ id: 'PAPT-TCAD-2014' }
              :markdown
                **Probabilistic Analysis of Power and Temperature under Process Variation for Electronic-System Design** with _Petru Eles_ and _Zebo Peng_

                IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems

              %aside.left 2014
              %aside.right
                %a{ href: 'publications/PAPT-TCAD-2014.pdf' } read
                %a{ href: 'publications/PAPT-TCAD-2014.bib' } cite

            %li{ id: 'SAPV-ASP-DAC-2014' }
              :markdown
                **Statistical Analysis of Process Variation Based on Indirect Measurements for Electronic-System Design** with _Mattias Villani_, _Petru Eles_, and _Zebo Peng_

                Asia and South Pacific Design Automation Conference

              %aside.right
                %a{ href: 'publications/SAPV-ASP-DAC-2014.pdf' } read
                %a{ href: 'publications/SAPV-ASP-DAC-2014.bib' } cite

            %li{ id: 'SDTA-DAC-2012' }
              :markdown
                **Steady-State Dynamic Temperature Analysis and Reliability Optimization for Embedded Multiprocessor Systems** with _Min Bao_, _Petru Eles_, and _Zebo Peng_

                Design Automation Conference

              %aside.left 2012
              %aside.right
                %a{ href: 'publications/SDTA-DAC-2012.pdf' } read
                %a{ href: 'publications/SDTA-DAC-2012.bib' } cite

        %section{ id: 'talks' }
          %h1 Talks
          %ul
            %li{ id: '2016-04-AIED' }
              :markdown
                **Adaptive Interpolation for Electronic-System Design**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2016
              %aside.right
                %a{ href: 'talks/2016-04-AIED.pdf' } slide

            %li{ id: '2016-01-UQED' }
              :markdown
                **Uncertainty Quantification for Electronic-System Design**

                PhD Workshop, Department of Computer and Information Science, Linköping University

              %aside.right
                %a{ href: 'talks/2016-01-UQED.pdf' } slide

            %li{ id: '2015-05-TRAO' }
              :markdown
                **Temperature-Centric Reliability Analysis and Optimization under Process Variation**

                Department of Electrical and Computer Engineering, Carnegie Mellon University

              %aside.left 2015
              %aside.right
                %a{ href: 'talks/2015-05-TRAO.pdf' } slide

            %li{ id: '2015-05-UQED' }
              :markdown
                **Uncertainty Quantification for Electronic-System Design**

                EnyAC Research Group, Carnegie Mellon University

              %aside.right
                %a{ href: 'talks/2015-05-UQED.pdf' } slide

            %li{ id: '2015-03-PAPT' }
              :markdown
                **Probabilistic Analysis of Power and Temperature under Process Variation for Electronic-System Design**

                Designing with Uncertainty Workshop, Design, Automation, and Test in Europe Conference, Grenoble

              %aside.right
                %a{ href: 'talks/2015-03-PAPT.pdf' } slide

            %li{ id: '2014-12-RPL' }
              :markdown
                **Rust Programming Language**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2014
              %aside.right
                %a{ href: 'talks/2014-12-RPL.pdf' } slide

            %li{ id: '2014-05-TRAO' }
              :markdown
                **Temperature-Centric Reliability Analysis and Optimization under Process Variation**

                Embedded Systems Laboratory, Linköping University

              %aside.right
                %a{ href: 'talks/2014-05-TRAO.pdf' } slide

            %li{ id: '2014-01-SAPV' }
              :markdown
                **Statistical Analysis of Process Variation Based on Indirect Measurements**

                Asia and South Pacific Design Automation Conference, Singapore

              %aside.right
                %a{ href: 'talks/2014-01-SAPV.pdf' } slide

            %li{ id: '2013-06-TCPV' }
              :markdown
                **Temperature-Based Characterization of Process Variation**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2013
              %aside.right
                %a{ href: 'talks/2013-06-TCPV.pdf' } slide

            %li{ id: '2012-11-UQPT' }
              :markdown
                **Uncertainty Quantification of Power and Temperature for Multiprocessor-System Design**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2012
              %aside.right
                %a{ href: 'talks/2012-11-UQPT.pdf' } slide

            %li{ id: '2012-06-SDTA' }
              :markdown
                **Steady-State Dynamic Temperature Analysis and Reliability Optimization for Embedded Multiprocessor Systems**

                Design Automation Conference, San Francisco

              %aside.right
                %a{ href: 'talks/2012-06-SDTA.pdf' } slide

            %li{ id: '2012-05-SSTA' }
              :markdown
                **System-Level Stochastic Temperature Analysis**

                Embedded Systems Laboratory, Linköping University

              %aside.right
                %a{ href: 'talks/2012-05-SSTA.pdf' } slide

            %li{ id: '2011-12-SDTA' }
              :markdown
                **Steady-State Dynamic Temperature Analysis and Reliability Optimization for Embedded Multiprocessor Systems**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2011
              %aside.right
                %a{ href: 'talks/2011-12-SDTA.pdf' } slide

        %section{ id: 'education' }
          %h1 Education
          %ul
            %li
              :markdown
                **Doctor of Philosophy in Computer Systems**

                Embedded Systems Laboratory, Department of Computer and Information Science, Linköping University

              %aside.left.lowlight
                %p 2016
                %p not yet

            %li
              :markdown
                **Master of Science in Computer Engineering** with _honors_

                Department of Information and Control Systems, Peter the Great St.&nbsp;Petersburg Polytechnic University

              %aside.left 2010

            %li
              :markdown
                **Specialist in Business Management** with _honors_

                International Graduate School of Management, Peter the Great St.&nbsp;Petersburg Polytechnic University

            %li
              :markdown
                **Bachelor of Science in Computer Engineering** with _honors_

                Department of Information and Control Systems, Peter the Great St.&nbsp;Petersburg Polytechnic University

              %aside.left 2008

        %section{ id: 'teaching-assistance' }
          %h1 Teaching Assistance

          %ul
            %li
              :markdown
                **Design Patterns (TDDB84)**

                Linköping University, 2013&ndash;2016

            %li
              :markdown
                **Distributed Systems (TDDD25)**

                Linköping University, 2012&ndash;2016

            %li
              :markdown
                **Embedded Systems Design (TDDI08)**

                Linköping University, 2013 and 2016

            %li
              :markdown
                **System Design and Methodologies (TDTS07)**

                Linköping University, 2012 and 2016

        %footer
          :markdown
            Love, Ivan

            _&#10086;_
