!!! 5
%html{ lang: 'en', prefix: 'og: http://ogp.me/ns#' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'description', content: 'Research by Ivan Ukhov' }
    %meta{ name: 'twitter:site', content: '@IvanUkhov' }
    %meta{ property: 'og:title', content: 'Research | Ivan Ukhov' }
    %meta{ property: 'og:type', content: 'profile' }
    %meta{ property: 'og:url', content: 'https://research.ivanukhov.com' }
    %meta{ property: 'og:description', content: 'Research by Ivan Ukhov' }
    %meta{ property: 'og:image', content: 'favicon.png' }
    %meta{ property: 'profile:first_name', content: 'Ivan' }
    %meta{ property: 'profile:last_name', content: 'Ukhov' }
    %meta{ property: 'profile:gender', content: 'male' }
    %title Research | Ivan Ukhov
    %link{ href: "application.css?#{stamp}", rel: 'stylesheet' }
    %script{ src: 'https://use.typekit.net/bas4cfe.js', async: true, onload: 'try{Typekit.load();}catch(e){}' }
    %script{ src: 'https://www.googletagmanager.com/gtag/js?id=G-QHKTLMMTVQ', async: true }
    %script
      :plain
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-QHKTLMMTVQ');
    %link{ href: 'favicon.png', rel: 'icon', type: 'image/png' }
  %body
    #page
      %article
        %header
          %h1 <em>Ivan</em> Ukhov

          #contact
            %p= encode('ivan.ukhov@gmail.com')

          %aside.right <a href="#{encode('mailto:ivan.ukhov@gmail.com')}">contact</a>

        %section{ id: 'research-interests' }
          %h1
            %a{ href: '#research-interests' } Research Interests

          %p Analysis and design under uncertainty

        %section{ id: 'publications' }
          %h1
            %a{ href: '#publications' } Publications

          %ul
            %li{ id: '2019-RMWP' }
              :markdown
                **Runtime Resource Management with Workload Prediction** with _Mina Niknafs_, _Petru Eles_, and _Zebo Peng_

                Design Automation Conference

              %aside.left 2019
              %aside.right
                %a{ href: 'publications/2019-RMWP.bib' } cite

            %li{ id: '2017-Thesis' }
              :markdown
                **System-Level Analysis and Design under Uncertainty**

                Linköping Studies in Science and Technology. Dissertations

              %aside.left 2017
              %aside.right
                %a{ href: 'publications/2017-Thesis.pdf' } read
                %a{ href: 'publications/2017-Thesis.bib' } cite

            %li{ id: '2017-WPRM' }
              :markdown
                **Workload Prediction for Runtime Resource Management** with _Mina Niknafs_, _Petru Eles_, and _Zebo Peng_

                Nordic Circuits and Systems Conference

              %aside.right
                %a{ href: 'publications/2017-WPRM.bib' } cite

            %li{ id: '2017-TPRM' }
              :markdown
                **Two-Phase Interarrival Time Prediction for Runtime Resource Management** with _Mina Niknafs_, _Petru Eles_, and _Zebo Peng_

                Euromicro Conference on Digital System Design

              %aside.right
                %a{ href: 'publications/2017-TPRM.bib' } cite

            %li{ id: '2017-PAAI' }
              :markdown
                **Probabilistic Analysis of Electronic Systems via Adaptive Hierarchical Interpolation** with _Petru Eles_ and _Zebo Peng_

                IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems

              %aside.right
                %a{ href: 'publications/2017-PAAI.pdf' } read
                %a{ href: 'publications/2017-PAAI.bib' } cite

            %li{ id: '2015-RAPV' }
              :markdown
                **Temperature-Centric Reliability Analysis and Optimization of Electronic Systems under Process Variation** with _Petru Eles_ and _Zebo Peng_

                IEEE Transactions on Very Large Scale Integration Systems

              %aside.left 2015
              %aside.right
                %a{ href: 'publications/2015-RAPV.pdf' } read
                %a{ href: 'publications/2015-RAPV.bib' } cite

            %li{ id: '2014-PAPT' }
              :markdown
                **Probabilistic Analysis of Power and Temperature under Process Variation for Electronic-System Design** with _Petru Eles_ and _Zebo Peng_

                IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems

              %aside.left 2014
              %aside.right
                %a{ href: 'publications/2014-PAPT.pdf' } read
                %a{ href: 'publications/2014-PAPT.bib' } cite

            %li{ id: '2014-SAPV' }
              :markdown
                **Statistical Analysis of Process Variation Based on Indirect Measurements for Electronic-System Design** with _Mattias Villani_, _Petru Eles_, and _Zebo Peng_

                Asia and South Pacific Design Automation Conference

              %aside.right
                %a{ href: 'publications/2014-SAPV.pdf' } read
                %a{ href: 'publications/2014-SAPV.bib' } cite

            %li{ id: '2012-SDTA' }
              :markdown
                **Steady-State Dynamic Temperature Analysis and Reliability Optimization for Embedded Multiprocessor Systems** with _Min Bao_, _Petru Eles_, and _Zebo Peng_

                Design Automation Conference

              %aside.left 2012
              %aside.right
                %a{ href: 'publications/2012-SDTA.pdf' } read
                %a{ href: 'publications/2012-SDTA.bib' } cite

        %section{ id: 'talks' }
          %h1
            %a{ href: '#talks' } Talks

          %ul
            %li{ id: '2017-12-SADU' }
              :markdown
                **System-Level Analysis and Design under Uncertainty**

                Department of Computer and Information Science, Linköping University

              %aside.left 2017
              %aside.right
                %a{ href: 'talks/2017-12-SADU.pdf' } slide

            %li{ id: '2017-03-PRU' }
              :markdown
                **Fine-Grained Long-Range Prediction of Resource Usage**

                Embedded Systems Laboratory, Linköping University

              %aside.right
                %a{ href: 'talks/2017-03-PRU.pdf' } slide

            %li{ id: '2016-10-FLWP' }
              :markdown
                **Fine-Grained Long-Range Workload Prediction**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2016
              %aside.right
                %a{ href: 'talks/2016-10-FLWP.pdf' } slide

            %li{ id: '2016-04-AIED' }
              :markdown
                **Adaptive Interpolation for Electronic-System Design**

                Embedded Systems Laboratory, Linköping University

              %aside.right
                %a{ href: 'talks/2016-04-AIED.pdf' } slide

            %li{ id: '2016-01-UQED' }
              :markdown
                **Uncertainty Quantification for Electronic-System Design**

                PhD Workshop, Department of Computer and Information Science, Linköping University

              %aside.right
                %a{ href: 'talks/2016-01-UQED.pdf' } slide

            %li{ id: '2015-09-FSPT' }
              :markdown
                **Fast Synthesis of High-Quality Power and Temperature Traces of Multiprocessor Systems**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2015
              %aside.right
                %a{ href: 'talks/2015-09-FSPT.pdf' } slide

            %li{ id: '2015-05-RAPV' }
              :markdown
                **Temperature-Centric Reliability Analysis and Optimization under Process Variation**

                Department of Electrical and Computer Engineering, Carnegie Mellon University

              %aside.right
                %a{ href: 'talks/2015-05-RAPV.pdf' } slide

            %li{ id: '2015-05-UQED' }
              :markdown
                **Uncertainty Quantification for Electronic-System Design**

                EnyAC Research Group, Carnegie Mellon University

              %aside.right
                %a{ href: 'talks/2015-05-UQED.pdf' } slide

            %li{ id: '2015-03-PAPT' }
              :markdown
                **Probabilistic Analysis of Power and Temperature under Process Variation for Electronic-System Design**

                Designing with Uncertainty Workshop, Design, Automation, and Test in Europe Conference, Grenoble

              %aside.right
                %a{ href: 'talks/2015-03-PAPT.pdf' } slide

            %li{ id: '2014-12-RPL' }
              :markdown
                **Rust Programming Language**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2014
              %aside.right
                %a{ href: 'talks/2014-12-RPL.pdf' } slide

            %li{ id: '2014-05-RAPV' }
              :markdown
                **Temperature-Centric Reliability Analysis and Optimization under Process Variation**

                Embedded Systems Laboratory, Linköping University

              %aside.right
                %a{ href: 'talks/2014-05-RAPV.pdf' } slide

            %li{ id: '2014-01-SAPV' }
              :markdown
                **Statistical Analysis of Process Variation Based on Indirect Measurements**

                Asia and South Pacific Design Automation Conference, Singapore

              %aside.right
                %a{ href: 'talks/2014-01-SAPV.pdf' } slide

            %li{ id: '2013-06-TCPV' }
              :markdown
                **Temperature-Based Characterization of Process Variation**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2013
              %aside.right
                %a{ href: 'talks/2013-06-TCPV.pdf' } slide

            %li{ id: '2012-11-UQPT' }
              :markdown
                **Uncertainty Quantification of Power and Temperature for Multiprocessor-System Design**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2012
              %aside.right
                %a{ href: 'talks/2012-11-UQPT.pdf' } slide

            %li{ id: '2012-06-SDTA' }
              :markdown
                **Steady-State Dynamic Temperature Analysis and Reliability Optimization for Embedded Multiprocessor Systems**

                Design Automation Conference, San Francisco

              %aside.right
                %a{ href: 'talks/2012-06-SDTA.pdf' } slide

            %li{ id: '2012-05-SSTA' }
              :markdown
                **System-Level Stochastic Temperature Analysis**

                Embedded Systems Laboratory, Linköping University

              %aside.right
                %a{ href: 'talks/2012-05-SSTA.pdf' } slide

            %li{ id: '2011-12-SDTA' }
              :markdown
                **Steady-State Dynamic Temperature Analysis and Reliability Optimization for Embedded Multiprocessor Systems**

                Embedded Systems Laboratory, Linköping University

              %aside.left 2011
              %aside.right
                %a{ href: 'talks/2011-12-SDTA.pdf' } slide

        %section{ id: 'education' }
          %h1
            %a{ href: '#education' } Education

          %ul
            %li
              :markdown
                **Doctor of Philosophy in Computer Science**

                Embedded Systems Laboratory, Department of Computer and Information Science, Linköping University

              %aside.left 2017

            %li
              :markdown
                **Master of Science in Computer Science** with _honors_

                Department of Information and Control Systems, Peter the Great St.&nbsp;Petersburg Polytechnic University

              %aside.left 2010

            %li
              :markdown
                **Specialist in Business Management** with _honors_

                International Graduate School of Management, Peter the Great St.&nbsp;Petersburg Polytechnic University

            %li
              :markdown
                **Bachelor of Science in Computer Science** with _honors_

                Department of Information and Control Systems, Peter the Great St.&nbsp;Petersburg Polytechnic University

              %aside.left 2008

        %section{ id: 'teaching-assistance' }
          %h1
            %a{ href: '#teaching-assistance' } Teaching Assistance

          %ul
            %li
              :markdown
                **Design Patterns**

                TDDB84, Linköping University, 2013–2017

              %aside.right
                %a{ href: 'https://liu.se/en/organisation/liu/ida' } learn

            %li
              :markdown
                **Distributed Systems**

                TDDD25, Linköping University, 2012–2017

              %aside.right
                %a{ href: 'https://liu.se/en/organisation/liu/ida' } learn

            %li
              :markdown
                **Embedded Systems Design**

                TDDI08, Linköping University, 2013, 2016, and 2017

              %aside.right
                %a{ href: 'https://liu.se/en/organisation/liu/ida' } learn

            %li
              :markdown
                **Software Testing**

                TDDD04, Linköping University, 2017

              %aside.right
                %a{ href: 'https://liu.se/en/organisation/liu/ida' } learn

            %li
              :markdown
                **System Design and Methodologies**

                TDTS07, Linköping University, 2012, 2016, and 2017

              %aside.right
                %a{ href: 'https://liu.se/en/organisation/liu/ida' } learn

        %footer
          :markdown
            Love, Ivan

            _&#10086;_
    %script
      :plain
        document.addEventListener('DOMContentLoaded', function() {
        document.body.className = 'theme-' + (Math.floor(Math.random() * 6) + 1);
        });
